[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysql-connector-python = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-jwt = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
social-auth-app-django = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.10"
Django = "4.2.2"
